.navBarContainer{

    width: 100%;
    height: 10vh;
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-end;
    background-color:rgb(129,79,139);
    font-weight: 700;
    color: white;
}

.navBarContainer .links{
    margin:1rem ;
    color: white;
    text-decoration: none;
}

.navBarContainer2{

    width: 100%;
    height: 10vh;
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-end;
    background-color:rgb(129,79,139);
    font-weight: 700;
    color: white;
}

.navBarContainer2 .links{
    margin:1rem ;
    color: white;
    text-decoration: none;
}